@import url(variables.css);

/* ABOUT */

.about {
    background-color: #121212; 
    background-image: radial-gradient(#8e44ad 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 1;
    display: flex; 
    gap: 60px;                  /* Espacio entre imagen y texto */
    flex-wrap: wrap;            /* Permite que se acomoden en móviles */
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    width: 400px;               /* Tamaño imagen */
    height: 400px;
    border-radius: 50%;         /* Circular */
    overflow: hidden;           
    border: 3px solid var(--color-primary-dark); /* Borde destacado */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform var(--transition);
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;          /* Ajustar imagen */
}

.about-img:hover {
    transform: scale(1.05);     /* Zoom suave al pasar el mouse */
}

.about-text {
    max-width: 600px;           /* Máximo ancho del texto */
    line-height: 1.7;           /* Espaciado entre líneas */
}

.about-text h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 25px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--color-text-light);
}
