@import url(variables.css);

/* BODY Y FONDO */

body {
    font-family: var(--font-primary);
    min-height: 100vh;                        /* Altura mínima de la ventana */
    color: var(--color-text-light);           /* Texto claro por defecto */
    background: linear-gradient(
        to bottom right, 
        var(--color-bg-start), 
        var(--color-bg-mid), 
        var(--color-bg-end)
    );                                          /* Fondo degradado */
    background-attachment: fixed;               /* Fondo fijo al hacer scroll */
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: var(--text-shadow-3d);
}
/* Ocultar Google Translate */
.goog-te-banner-frame { display: none !important; }
body { top: 0 !important; }
.skiptranslate { display: none !important; }

/* SECCION */
section {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 40px;
}

/* SECCIONES GENERALES */

.home,
.about,
.skills,
.projects,
.contact{
    width: 90%;                     /* Ancho máximo */
    margin: 0 auto;                 /* Centrado horizontal */
    padding-block: var(--gap-main); /* Espaciado vertical */
}
