@import url(variables.css);


/* CONTACT SECTION */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;      /* Apila título y formulario */
    align-items: center;         /* Centrado horizontal */
    padding: 60px 20px;
    gap: 1.5rem;                   /* Espacio entre título y formulario */
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary);
}

.contact-form {
    width: 100%;
    max-width: 600px;            /* Tamaño medio */
    display: flex;
    flex-direction: column;
    gap: 1.5em;                 /* Espacio entre campos */
    padding: 30px;
    background: var(--bg-alpha-1);
    border: 1px solid var(--border-alpha-1);
    border-radius: var(--radius);
    box-shadow: 0 8px 25px var(--color-primary-dark);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group label {
    font-weight: 500;
    color: var(--color-text-light);
    margin-top:1.5rem;
}

.form-group input,
.form-group textarea {
    padding: 15px 15px;
    border-radius: var(--radius);
    border: 0.8px solid var(--border-alpha-1);
    background-color: rgba(255,255,255,0.05);
    color: var(--color-text-light);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 8px var(--color-primary-dark);
    background-color: rgba(255,255,255,0.1);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form button {
    display: block;       /* convertir en bloque */
    margin: 1rem auto 0;  /* 1rem arriba, auto lateral para centrar */
    padding: 0.8em 2em;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform var(--transition), box-shadow var(--transition);
    background-color: transparent;
    border: 2px solid var(--color-primary-dark);
    color: var(--color-primary);
}

.contact-form button:hover, 
.contact-form button:focus{
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
    box-shadow: 0 0 10px var(--color-primary-dark);
}