@import url(variables.css);


/* CONTACT SECTION */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 1.5rem;
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary);
}

.contact-container {
    width: 100%;
    max-width: 1100px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    align-items: start;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 80px;
}

.link a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    background: var(--bg-alpha-1);
    border: 1px solid var(--border-alpha-1);
    border-radius: var(--radius);
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.35s ease;
}

.link a:hover {
    background: var(--bg-alpha-2);
    border-color: var(--color-primary);
    transform: translateX(10px);
    box-shadow: 0 4px 10px var(--color-primary-dark);
}

.link a i {
    font-size: 1.8rem;
    color: var(--color-primary);
    transition: transform 0.5s ease-out;
}

.link a:hover i {
    color: var(--color-text-light);
    transform: scale(1.3) rotate(360deg);
}

/* FORM */
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 30px;
    background: var(--bg-alpha-1);
    border: 1px solid var(--border-alpha-1);
    border-radius: var(--radius);
    box-shadow: 0 8px 25px var(--color-primary-dark);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group label {
    font-weight: 500;
    color: var(--color-text-light);
    margin-top: 1.5rem;
}

.form-group input,
.form-group textarea {
    padding: 15px 15px;
    border-radius: var(--radius);
    border: 0.8px solid var(--border-alpha-1);
    background-color: rgba(255,255,255,0.05);
    color: var(--color-text-light);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 8px var(--color-primary-dark);
    background-color: rgba(255,255,255,0.1);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form button {
    display: block;
    margin: 1rem auto 0;
    padding: 0.8em 2em;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform var(--transition), box-shadow var(--transition);
    background-color: transparent;
    border: 2px solid var(--color-primary-dark);
    color: var(--color-primary);
}

.contact-form button:hover, 
.contact-form button:focus {
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
    box-shadow: 0 0 10px var(--color-primary-dark);
}