@import url(variables.css);

/* CONTACT */
.contact {
    background: linear-gradient(to top, #000000, #1a1a1a);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
    align-items: start;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.link a {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 15px;
    padding: 20px;
    width: 100%;
    color: var(--color-text-light);
    text-decoration: none;
    font-weight: 500;
}

.link a i {
    font-size: 1.8rem;
    color: var(--color-primary);
    transition: transform 0.4s ease;
}

/* El hover se activa en el enlace 'a', pero afecta al 'i' */
.link a:hover i {
    transform: rotate(360deg);
    color: white;
}

/* FORMULARIO */
.contact-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 8px;
    color: var(--color-text-secondary);
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    font-family: var(--font-primary);
    margin-bottom: 15px;
}

.form-group input:focus, 
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 4px rgba(142, 68, 173, 0.15);
}

textarea { min-height: 180px; resize: vertical; }

.contact-form button {
    width: 100%;
    padding: 18px;
    margin-top: 10px;
    background: linear-gradient(90deg, var(--color-primary-dark), var(--color-primary));
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.contact-form button:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px 0 rgba(142, 68, 173, 0.15);
}