@import url(variables.css);

/* FOOTER */
footer {
    width: 100%;                              
    padding: 20px 0;
    margin-top: 60px;                         
    text-align: center;                        
    background-color: var(--color-header-bg); /* Fondo translúcido */
    color: var(--color-text-light);           /* Texto claro */
    border-top: 1px solid var(--color-border);/* Borde superior sutil */
    backdrop-filter: blur(10px);              /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px);      /* Compatibilidad Safari */
    font-size: 0.9rem;                        /* Texto más pequeño */
}