@import url(variables.css);

/* FOOTER */
footer {
    width: 100%;                              
    padding: 30px 20px;
    text-align: center;                        
    
    /* Estilo visual acorde al tema oscuro */
    background-color: #000000; 
    color: var(--color-text-secondary);           
    border-top: 1px solid var(--color-border);
    font-size: 0.9rem;                        
    
    position: relative;
    z-index: 10;

    /* Le dice al navegador que es válido detener el scroll aquí abajo */
    scroll-snap-align: end; 
}

footer p {
    margin: 0;
}