@import url(variables.css);


/* HEADER */
header {
    width: 96%;                               
    
    display: flex;                            /* Flexbox para layout */
    justify-content: space-between;           /* Separar logo y menú */
    align-items: center;                      /* Centrado vertical */
    background-color: var(--color-header-bg); /* Fondo translúcido */
    color: var(--color-text-light);           /* Color del texto */
    padding: 20px 40px;                       

    position: fixed;                         /* Fijo al hacer scroll */
    top: 1.5rem;      
    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;                            /* Prioridad de superposición */
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);   
    transition: opacity var(--transition); /* Suave al cambiar fondo */
    backdrop-filter: blur(5px);              /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(5px);      /* Compatibilidad Safari */
    border-radius: var(--radius);                      
}

/* Ocultar header cuando se hace scroll hacia abajo */
header.nav-hidden {
    opacity: 0;
    pointer-events: none;
}

.translate-btn {
    padding: 8px 12px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 12px;
}

.translate-btn:hover {
    background: #444;
}

/* MENÚ PRINCIPAL */

.menu ul {
    list-style: none;      /* Quitar puntos de lista */
    display: flex;         /* Mostrar elementos en fila */
    gap: 20px;             /* Espacio entre enlaces */
    text-shadow: var(--text-shadow-3d);
}

.menu a {
    color: var(--color-text-light);  
    text-decoration: none;    
    text-transform:uppercase;      
    font-weight: bold;               
    padding: 8px 12px;               /* Espaciado interno */
    border-radius: 50px;            
    display: inline-block;           /* Evitar que ocupe todo el ancho */
    cursor: pointer;   
    position:relative;              
    transition: color var(--transition); /* Animación hover */
}
.menu a:after{
    content:'';
    position:absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    transition: width var(--transition);
}
    
.menu a:hover::after{
    width: 100%;
}