@import url(variables.css);

/* PROJECTS */

.projects-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 40px clamp(20px, 4vw, 60px);
}


.project {
    max-width: 1200px;
    margin: 0 auto;
    opacity: 0;                              /* Para animación inicial */
    transform: translateY(20px);            /* Levantar al aparecer */
    animation: fadeUp 0.6s ease forwards;   /* Animación suave */
}

/* Hover de project junto con hover de skills para sintetizar codigo */

@keyframes fadeUp {
    to {
        opacity: 1;                          /* Aparece gradualmente */
        transform: translateY(0);            /* Posición final */
    }
}

.project h3 {
    text-transform: uppercase;              /* Texto en mayúsculas */
    text-align: left;
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 30px;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;          /* Imagen + texto */
    align-items: center;
    gap: 1em;
}

.project-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-text-secondary);
    max-width: 600px;
    margin-left: 1rem;
}

.project-info img {
    margin-right: 1rem;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    transition: transform var(--transition);
}
.project-info img:hover{
    transform: scale(1.04);
    box-shadow: 0 4px 20px var(--color-primary);
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 2em;
}

.project-links a {
    background-color: transparent;
    border: 2px solid var(--color-primary-dark);
    border-radius: var(--radius);
    color: var(--color-primary);
}
.project-links a:hover,
.project-links a:focus {
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
}