@import url(variables.css);


/* RESET BÁSICO */

*, *::before, *::after{
    margin: 0;               /* Quitar márgenes por defecto */
    padding: 0;              /* Quitar rellenos por defecto */
    box-sizing: border-box;  /* Incluir padding y border en el tamaño */
    scroll-behavior: smooth;
}

[id]{
    scroll-margin-top: var(--header-offset);
}
