#game-container {
    width: 700px;
    height: 700px;
    background-color: #222;
    position: relative;
    margin: 20px auto;
    border: 5px solid #555;
    /* Esto evita que la serpiente se vea sobre el borde */
    overflow: hidden; 
}
.snake-part {
    width: 20px;
    height: 20px;
    background-color: lime;
    position: absolute;
}
.fruit {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
